/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  section {
  }
  
  #left {
    width:33.3%;
    background-color:darkgray;
    padding: 20px;
    float:left;
  }
  
  #middle {
    width:33.3%;
    background-color:gray;
    padding: 20px;
    float:left;
  }
  
  #right {
    width:33.3%;
    background-color:darkgray;
    padding: 20px;
    float:left;
    margin-bottom:20px;
  }
  
  #full {
    clear:both;
    background-color:#eee;
    margin-bottom:20px;
    margin-top:20px;
    height:300px;
  }
  
  #division {
    background-color:blue;
    width:100%;
    padding: 20px;
    margin-top:100px;
  
  }
  
  aside {
    width:300px;
    height:200px;
    background-color:#fff;
    margin-top:30px;
    margin-left:20px;
    float:left;
    padding:20px;
    
  }
  
  footer {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
    background: #ccc;
  }